.body {
    margin: 0px;
    padding: 0px;
}

#myCanvas{
	height: 600px;
    width: 800px;
    border-style: solid;
    border-width: medium;
	display:inline-block;
	position: absolute;
    top: 5px;
}

#messages{
	position: absolute;
    top: 5px;
	right:5px;
	display:inline-block;
}